# Drizzle
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL="postgresql://postgres:password@localhost:5432/eventfinder"

# Better Auth
BETTER_AUTH_SECRET=abCIWuAea2pVUkN7jQkVDDjsuhCcRLQA
BETTER_AUTH_URL=http://localhost:3000

# Google Client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=