# Drizzle
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL="postgresql://postgres:password@localhost:5432/eventfinder"

# Better Auth
BETTER_AUTH_SECRET=abCIWuAea2pVUkN7jQkVDDjsuhCcRLQA
BETTER_AUTH_URL=http://localhost:3000

# Google Client
GOOGLE_CLIENT_ID=296918215185-qmt526sq5sqsi3hujehfq6d921fg5s3g.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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