.fc {
    padding: 0;
}   

.fc-header-toolbar {
    font-size: small;
    padding: 16px 20px;
    margin-bottom: 0 !important;
    border: solid 1px #E4E4E4;
    border-bottom: none; 
    border-radius: 12px 12px 0px 0px;
}

.fc-header-toolbar .fc-toolbar-title {
    font-size: 24px !important;
}

.fc-col-header-cell-cushion {
    padding: 8px 0;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.fc-daygrid-day-frame {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: 2px 2px;
}  

.fc-daygrid-day-top {
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start;
}

.fc-daygrid-day-number {
    margin-left: 0 !important;
    margin-right: auto;
    font-size: 10px;
    padding: 6px 6px;
    border-radius: 9999px;
    color: #000000;
}

.fc-day-today {
    background: transparent !important;
}

.fc-day-today .fc-daygrid-day-number {
    background-color: #df5c8e;
    color: white;
    padding: 3px 6px;
}

.fc-day-other {
    background-color:#EAEAEA;
}

.fc-day-other .fc-daygrid-day-number {
    color: #000000 !important;
    opacity: 1 !important;
}

.fc-event-none {
    background: none !important;
    border: none !important;
    padding: 0 !important;
}

.fc-daygrid-body tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.fc-daygrid-body tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.fc-theme-standard .fc-scrollgrid {
    border-radius: 0 0 12px 12px;
    overflow: hidden;
}

.fc-daygrid-body tr:last-child td {
    border-bottom: none;
}

.fc .fc-button {
    border: solid 1px #df5c8e;
    background-color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
}

.fc .fc-button span {
    color: #df5c8e;
}

.fc .fc-button:hover {
    border-color: #b73366;
    box-shadow: none !important;
}

.fc .fc-button:active {
    box-shadow: none !important;
    transform: none !important;
}

.fc .fc-button:focus,
.fc .fc-button:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.fc-button-group>.fc-button {
    box-shadow: none !important;
    outline: none !important;
}

@media (max-width: 640px) {

    .fc-header-toolbar {
        padding: 10px 10px;
    }

    .fc-header-toolbar .fc-toolbar-title {
        font-size: 20px !important;
    }

    /* Day names (Mon Tue Wed...) */
    .fc-col-header-cell-cushion {
        font-size: 10px;
    }

    /* Day number */
    .fc-daygrid-day-number {
        font-size: 8px;
        padding: 4px 6px;
    }

    /* Event text */
    .fc-event,
    .fc-event-title,
    .fc-event-title-container,
    .fc-event-title-container span {
        font-size: 6px;
    }

    /* Custom event */
    .fc-event-none span {
        font-size: 6px;
    }

    /* Button icon */
    .fc .fc-button span {
        font-size: 12px;
    }

    .fc-daygrid-day-number {
        margin-left: 0 !important;
        margin-right: auto;
        font-size: 10px;
        padding: 1px 2px !important;
        border-radius: 9999px;
        color: #000000;
    }

    .fc-daygrid-day-frame {
        aspect-ratio: 1 / 1;
        overflow: hidden;
        padding: 0px 0px;
    }
}